*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	

}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E8E8E8;
	

}
.container{
	position: relative;
	max-width: 530px;
	width: 150;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);


}
.container .forms{
	padding: 30px;

}
.container .forms .title{
	position: relative;
	font-size: 27px;
	font-weight: 600;

}
.forms .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: #4070f4;
	border-radius: 25px;

}
.forms .input-field{
	margin-top: 30px;
	position: relative;
	height: 50px;
	width: 100%;

}
.input-field input{

		height: 100%;
		width: 100%;
		padding: 0 35px;
		border: none;
		outline: none;
		border-bottom: 2px solid #ccc;
		border-top: 2px solid transparent;
		font-size: 16px;



}
.input-field input:is(:focus, :valid){
	border-bottom-color: #4070f4;
}
.input-field i{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: #999;
	font-size: 23px;





}
.input-field input:is(:focus, :valid) ~ i{
	color: #4070f4;
}
.forms .checkbox-text{
	margin-top: 20px;
	display: flex;
	
	text-align: right;


}
.forms a{
	text-decoration: none;

}
.forms a:hover{
	text-decoration: underline;
}
.forms .text{
	color: #333;
	font-size: 14px;
}
.forms a.text{
	color: #4070f4;

}
.forms .button{
	margin-top: 35px;

}
.forms .button input{
	border: none;
	background-color: #4070f4;
	color: #fff;
	letter-spacing: 1px;
	border-radius: 6px;
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}
.button input:hover{
	background-color: #265df2;

}
.forms .login-signup{
	margin-top: 30px;
	text-align: center;
}
